<div n:foreach="$items as $item" class="treeMenu">
    {var $padding = $item['level']}
    <a n:href="clickItemTreeMenu! $item['id'], $item['name']" class="treeMenuItem" style="--pading-var: {$padding} ">* {$item['name']}</a>
</div>
